<h1>Product Order</h1>

<%= form_tag(purchases_pay_path) do -%>
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>

    <p>
      <%= hidden_field_tag 'token' %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <%= hidden_field_tag 'buyer_id', current_user.buyer.id %>
      <%= button_tag "Order", class:'pay-button' %>
    </p>

<% end -%>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  window.stripe = {};
  window.stripe.publishable = '<%= @product.seller.publishable_key %>';
  window.stripe.currentUserEmail = '<%= current_user.email %>';
  window.stripe.amount = <%= @product.price * 100 %>;
  window.stripe.description = '<%= @product.name %>'
</script>