<p id="notice"><%= notice %></p>

<h1>Charges</h1>

<table>
  <thead>
    <tr>
      <th>Purchase</th>
      <th>Product</th>
      <th>Price</th>
      <th>Fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charges.each do |charge| %>
      <tr>
        <td><%= charge.purchase.buyer.name %></td>
        <td><%= charge.purchase.product.name %></td>
        <td><%= charge.purchase.product.price %></td>
        <td><%= charge.application_fee %></td>
        <td><%= link_to 'Show', charge %></td>
        <td><%= link_to 'Destroy', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

